{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block js_head %}
  <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey={{ tiny_api_key }}"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
{% endblock js_head %}

{% block content %}
{% if request.resolver_match.kwargs.idea_id %}
  <form method="post">
    {% csrf_token %}
    {{ edit_idea_form|crispy }}
    <input type="submit" class="btn btn-primary">
    <a class="btn btn-secondary" href="{% url 'research_assistant:single_idea' idea.id %}">Cancel</a>
  </form>
{% else %}
  <form method="post">
    {% csrf_token %}
    {{ new_idea_form|crispy }}
    <input type="submit" class="btn btn-primary">
    <a class="btn btn-secondary" href="{% url 'research_assistant:all_ideas' %}">Cancel</a>
  </form>
{% endif %}
{% endblock content %}