{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>My Authors</h1>
  </div>
  <div class="col text-right">
    <a href="{% url 'research_assistant:new_author' %}" class="btn btn-primary">New Author</a>
  </div>
</div>
<hr class="mb-4">
<div class="row">
  <div class="col col-md-4">
    <form method="post">
      {% csrf_token %}
      {% crispy search_form %}
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    {% if query and authors|length == 0%}
      <p>No authors match "{{query}}". <a class="btn btn-sm btn-secondary" href="{% url 'research_assistant:all_authors' %}">Clear Search</a></p>
    {% else %}
      {% if query %}<p>Search results for: "{{query}}": <a class="btn btn-sm btn-secondary" href="{% url 'research_assistant:all_authors' %}">Clear Search</a>{% endif %}
      <ul class="list-group">
        {% for author in authors %}
          <a href="{% url 'research_assistant:single_author' author.id %}" class="list-group-item list-group-item-action">{{ author.name }}
          {% if author.paper_set.all|length > 0 %}
            <span class="badge badge-pill badge-primary">{{ author.paper_set.all|length }} papers</span>
          {% else %}
            <span class="badge badge-pill badge-light">{{ author.paper_set.all|length }} papers</span>
          {% endif %}
          </a>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock content %}