{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col">
    {% if edit_author_form %}
    <form method="POST" class="mb-3">
      {% csrf_token %}
      {{ edit_author_form|crispy}}
      <input type="submit" class="btn btn-primary">
      <button class="btn btn-secondary">Cancel</buttton>
    </form>
    {% else %}
    <h1>{{ author.name }}
      <span class="edit-button hidden">
        <form method="GET">
          <button type="submit" class="btn btn-primary" name="edit" value="edit"><i class="fas fa-pen"></i></button>
        </form>
      </span>
    </h1>
    {% endif %}
  </div>
  <div class="col text-right">
    <a href="{% url 'research_assistant:delete_author' author.id %}" class="btn btn-danger">Delete Author</a>
  </div>
</div>
<hr class="mb-4">

<div class="row">
  <div class="col col-md-4">
    <form method="post">
      {% csrf_token %}
      {% crispy search_form %}
    </form>
  </div>
</div>



<div class="row">
  <div class="col">
    {% if query and author.paper_set.all|length == 0 %}
      <p>No papers by this author match "{{query}}". <a class="btn btn-sm btn-secondary" href="{% url 'research_assistant:single_author' author.id %}">Clear Search</a></p>
    {% else %}
      {% if query %}<p>Search results for "{{query}}" <a class="btn btn-sm btn-secondary" href="{% url 'research_assistant:single_author' author.id %}">Clear Search</a>{% endif %}
    <ul class="list-group">
      {% if author.paper_set.all %}
        {% for paper in author.paper_set.all %}
          <a class="list-group-item list-group-item-action" href="{% url 'research_assistant:single_paper' paper.id %}">{{ paper.title }}
            {% if not paper.is_read %}
            <span class="badge badge-danger badge-pill">Unread</span>
            {% endif %}
          </a>
        {% endfor %}
      {% else %}
      <p>There are no papers related to this author.</p>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock content %}