{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>{{ author.name }}</h1>
  </div>
  <div class="col text-right">
    <a href="{% url 'research_assistant:delete_author' author.id %}" class="btn btn-danger">Delete Author</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      {% if author.paper_set.all %}
        {% for paper in author.paper_set.all %}
          <a class="list-group-item list-group-item-action" href="{% url 'research_assistant:single_paper' paper.id %}">{{ paper.title }}
            {% if not paper.is_read %}
            <span class="badge badge-danger badge-pill">Unread</span>
            {% endif %}
          </a>
        {% endfor %}
      {% else %}
      <p>There are no papers with this tag.</p>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock content %}