{% extends 'index.html' %}

{% block content %}
  <div class="row">
    <div class="col">
      <h3>Are you sure you want to delete {{ list.name }}?</h3>
      <p>This will <strong>not</strong> delete the papers from your account. Just the list.</p>
      <form class="d-inline" action="{% url 'research_assistant:delete_list' request.resolver_match.kwargs.list_id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <a class="d-inline-block btn btn-primary" href="{% url 'research_assistant:single_list' request.resolver_match.kwargs.list_id %}">Cancel</a>
    </div>
  </div>
{% endblock content %}
