{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block css %}
  {{ filter_form.media.css }}
{% endblock css %}
{% block js %}
  {{ filter_form.media.js }}
{% endblock js %}

{% block content %}
<div class="row">
  <div class="col">
    {% if edit_list_form %}
    <form method="POST" class="mb-3">
      {% csrf_token %}
      {{ edit_list_form|crispy }}
      <input type="submit" class="btn btn-primary">
      <button class="btn btn-secondary">Cancel</button>
    </form>
    {% else %}
    <h1>{{ list.name }}
      <span class="edit-button hidden">
        <form method="GET">
          <button type="submit" class="btn btn-primary" name="edit" value="edit"><i class="fas fa-pen"></i></button>
        </form>
      </span>
    </h1>
    {% endif %}
  </div>
  <div class="col text-right">
    <a class="btn btn-danger" href="{% url 'research_assistant:delete_list' list.id %}">Delete List</a>
  </div>
</div>
<hr class="mb-4">

<div class="row">
  <div class="col">
    <form method="post" id="filter_form">
      {% csrf_token %}
      {% crispy filter_form %}
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
  {% if papers|length == 0 %}
    <p>No papers in this list match. <a class="btn btn-sm btn-secondary" href="{% url 'research_assistant:single_list' list.id %}">Clear Search</a></p>
  {% else %}
    {% if query %}<p>Search results for "{{query}}" <a class="btn btn-sm btn-secondary" href="{% url 'research_assistant:single_list' list.id %}">Clear Search</a>{% endif %}
    <ul class="list-group">
      {% if papers %}
        {% for paper in papers %}
          <a class="list-group-item list-group-item-action" href="{% url 'research_assistant:single_paper' paper.id %}">
            {{ paper.title }}
            {% if not paper.is_read %}<span class="badge badge-danger badge-pill">Unread</span>{% endif %}
          </a>
        {% endfor %}
      {% else %}
        <p>There are no papers in this list.</p>
      {% endif %}
    </ul>
  {% endif %}
  </div>
</div>


{% endblock content %}
