{% extends 'index.html' %}

{% block content %}
  <div class="row">
    <div class="col">
      <h3>Are you sure you want to delete {{ paper.title }}?</h3>
      {% if paper.file_url %}
      <p>This will also delete the PDF you have uploaded. You can download it now before deleting.</p>
      <button class="btn btn-secondary d-inline" href="../media/{{ paper.file_url }}">Download PDF</button>
      {% endif %}

      <form class="d-inline" action="{% url 'research_assistant:delete_paper' paper.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <a class="d-inline-block btn btn-primary" href="{% url 'research_assistant:single_paper' paper.id %}">Cancel</a>
    </div>
  </div>
{% endblock content %}
