{% extends 'index.html' %}

{% block content %}
  <div class="row">
    <div class="col">
      <h3>Are you sure you want to delete {{ note.title }}?</h3>

      <form class="d-inline" action="{% url 'research_assistant:delete_note' request.resolver_match.kwargs.paper_id request.resolver_match.kwargs.note_id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <a class="d-inline-block btn btn-primary" href="{% url 'research_assistant:single_paper' request.resolver_match.kwargs.paper_id %}">Cancel</a>
    </div>
  </div>
{% endblock content %}
